//====== Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #3A5161;
$background-color: #F9FAFB;
$brand-color:      #00ADEF;

$grey-color:       #828282;
$grey-color-light: #A2AFB8;
$grey-color-dark:  #1A2E3B;

// Width of the content area
$content-width:    950px;
$content-gutter:   40px;

//====== Base Styles

body {
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    margin-top: 50px;
    background-image: url('../assets/svg/rainbowbar.svg');
    background-repeat: repeat-x;
    color: $text-color;
}

a {
    text-decoration: none;
    color: $brand-color;

    &:hover {
        color: #0088CC;
    }
}

h1,
h2,
h3,
h4,
h5 {
    color: $grey-color-dark;
}

h1 {
    font-weight: 200;
    font-size: ($base-font-size * 2);
}

h2 {
    font-size: ($base-font-size * 1.125);
    margin-top: 37px;
}

h4 {
    margin-top: 0;
    margin-bottom: 7px;
    color: $grey-color-light;
    font-size: $small-font-size;
    font-weight: 400;
}

h6 {
    display: block;
    font-size: 14px;
    margin-top: 24px;
    margin-bottom: -12px;
    color: $grey-color-dark;
}

p {
    width: 90%;
    line-height: 1.5;
}
