<!DOCTYPE html>
<html>
    {% include head.html %}

    <body>

        <div class="wrapper">
            <aside class="rail">
                {% include aside.html %}
            </aside>
            <main class="content">
                <div class="content__post">
                    <div class="js-algolia__initial-content">
                        {{ content }}
                    </div>
                    
                    <div class="algolia__search-content js-algolia__search-content">
                        <h1 class="page-title">Search</h1>
                        <div class="posts algolia__results"></div>
                    </div>
                </div>
                <div class="content__pagination">
                    {% if page.previous.url %}
                        <div class="content__prev">
                            <h4>Previous</h4>
                            <a class="prev" href="{{site.baseurl}}{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
                        </div>
                    {% endif %}
                    {% if page.next.url %}
                        <div class="content__next">
                            <h4>Next</h4>
                            <a class="next" href="{{site.baseurl}}{{page.next.url}}">{{page.next.title}} &raquo;</a>
                        </div>
                    {% endif %}
                </div>
            </main>
        </div>

        {% include footer.html %}

    </body>
</html>
